@model StoreApplicationWeb.Models.ModelOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ModelOrder</h4>
@if(Model.error != ""){
  <h1 class="error"> @Model.error </h1>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId"
                        asp-items="@Model.chooseCust" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label"></label>
                <select asp-for="StoreId"
                        asp-items="@(new SelectList(Model.LocationList, "LocationId", "Name"))" class="form-control"></select>
            </div>

            @*<div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>*@
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="creatOrder">
            @{
                int counter = 0;
            }   
            @foreach (var x in Model.Products)
            {

                var value = Model.Products.Where(z => z.ProductId == x.ProductId).Select(q => q.ProductName).ToList().FirstOrDefault();
                var cost = Model.Products.Where(z => z.ProductId == x.ProductId).Select(q => q.ProductCost).ToList().FirstOrDefault();
        <div class="editor-label">
            <text><strong>@value</strong></text>
            <br/>
            <text><strong>Cost:</strong> @cost</text>
        </div>
            <div class="editor-field">
                @Html.DropDownList("Products[" + counter + "].quantitySale", Model.chooseProd)
            </div>
            <br/>
            
            counter++;
            } 
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
