@model IEnumerable<StoreApplicationWeb.Models.ModelOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Make Order</h1>

<p><strong>
    <a asp-action="Create">Create New</a>
    </strong>
</p>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    <text>Customer</text>
                    <div class="form-group">
                        <form asp-action="Index" method="GET" class="form-inline">
                            <label class="sr-only" for="search">Search:</label>
                            <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </th>
                <th>
                    <text>Store</text>
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                    <br />
                    @Html.ActionLink("Earliest", "Index", new { Sort = "Early" })
                    <br />
                    @Html.ActionLink("Latest", "Index", new { Sort = "Late" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                    <br />
                    @Html.ActionLink("Cheapest", "Index", new { Sort = "Cheap" })
                    <br />
                    @Html.ActionLink("Expensive", "Index", new { Sort = "Expensive" })
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>

                    <td>
                        <strong>
                            @Html.ActionLink(item.Customer.FName + " " + item.Customer.LName, "Index", new { item.CustomerId })
                        </strong>
                    </td>
                    <td>
                        <strong>
                            @Html.ActionLink(item.Location.Name, "Index", new { item.StoreId })
                        </strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        <strong>
                            @Html.ActionLink("Details", "Details", new { item.OrderId })
                        </strong>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
